# Node.js
node_modules/

# Logs
logs/
*.log

# Ignore .env files
.env
backend/.env
frontend/.env

# Build outputs
dist/

# Docker
docker-compose.override.yml

# Terraform
*.tfstate
*.tfstate.backup
.terraform/

# Others
.DS_Store
.idea/
.vscode/