POSTGRES_DB=<name of your db>
POSTGRES_HOST=<name of your db host - use name in docker-compose for local development>
POSTGRES_USER=<db super user, who can create other users as needed>
POSTGRES_PASSWORD=<super user_password>

APP_DB_USER=<db user with app-level privileges>
APP_DB_PASSWORD=<password for the app user>

BACKEND_PORT=5000
JWT_SECRET=<your_jwt_secret>